snippet \frac "fraction" iA
	\frac{$1}{$2}$0

snippet \* "cdot" iA
	\cdot

snippet interview "Interview" i

 # ${1:Name}
 
 ## Feedback
 
 ## Soft skills
 
 ## Previous experience
 
 ## Technical expertise
 
 ## Performance mindset
 
 ## Other notes
 
 ## Behaviour
