snippet ltodo "List TODO" bA
- [ ] $0
endsnippet

snippet cz "Standard commitizen commit" bA
${1:type}(${2:scope}): ${3:shortdescription}

${4:longdescription}

affects: ${5:affects}

ISSUES CLOSED: #${6:ticket}
endsnippet
