snippet \frac "fraction" iA
\frac{$1}{$2}$0
endsnippet

snippet cab "CAB" i

### ${1:Title}
Release contains: 

* ${2:Item}

#### SCOPE: 

* ${3:ScopeItem}

#### EVIDENCE OF TEST:

* ${4:Testinfo}

#### CONTACT:

* ${5:Contactinfo}

endsnippet	
